/* .full-name {
    float: left;
    margin-top: 100px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    height:50px;
    margin-top: 30px;
    padding-top: 20px;
  }
  
  .page-links {
  
    padding-top: 50px;
  }
  
  .container {
     margin-top: 100px;
     margin-right: 100px;
  }
  #full-name {
     color: #ffffff;
     text-align: center;
     padding-left: 10px;
     padding-top: 0px;
     font-family: 'Georgia', Times, Times New Roman, serif;
      font-size: 1.5em;  
  }
  
  h1 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: teal;
  }
  
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  a:link {
    text-decoration: none;
  }
  
  #bio-image {
    height: 25%;
    width: 25%;
    float: left;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  .wrapper {
    margin: 0 auto;
    padding-top: 50px;
    width: 960px;
  }
  
  #copyright1, #copyright2, #copyright3 {
    text-align: center;
    background-color:#666666;
    width: 100%;
    float: center;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-style: solid;
    border-top-color: teal;
    border-top-width: 7.5px;
  
  }
  
  #input-1, #input-2, #input-3 {
    width: 900px;
  }
  
  textarea {
      width: 900px;
      height: 200px;
  }
  
  p, #contact-boxes, a {
    color: #777777;
  }
  
  #contact-boxes {
      height: 250px;
      padding: 20px;
  }
  
  .header {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-color: #777777;
    border-bottom-width: 1px;
    bottom: 0;
  }
  
  .container {
    width: 960px;
    margin: 0 auto;
    height: 50px;
  }
  
  .header, #picture, p, #copyright, #contact-boxes, a, #copyright1, #copyright2, #copyright3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  #picture, #contact-boxes, #portfolio-links  {
    border-top-style: solid;
    border-top-color: #777777;
  }
  
  #main-content {
    border-style: solid;
    border-color: #777777;
    border-width: 1px;
    background-color: white;
    overflow: auto;
    padding-bottom: 100px;
    margin-bottom: 100px;
    height: 400px;
  }
  
  #about-link {
    border-right-color: #777777;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 10px;
    float: right;
    
  }
  
  #portfolio-link {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
  
  }
  
  #contact-link {
    border-left-color: #777777;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 10px;
    float: right;
    text-align: center
  
  }
  
  body {
    background-image: url("../images/philly-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-position: center;
    margin: 0;
    position: relative;
  }
  
  .footer {
      width: 100%;
  }
  
  #copytext {
      padding-top: 50px;
      color: white;
  }
  
  #button {
      background-color: teal;
      width: 100px;
      height: 50px;
      color: white;
  }
  .item {
    display: inline-block;
    position: relative;
  }
  .name {
    position: relative;
    top: -100px;
    text-align: center;
    background-color: teal;
    color: white;
    padding: 1em;
  }

  #portfolio-links {
      padding-top: 20px;
  }

  .navbar {
    width: 960px;
    border-bottom-width: 1px;
    border-bottom-color: gray;
  }

  #navbarText {
    float: right;
  }

  .nav-item-1 {
    border-right-color: #777777;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 10px;
    float: right;
  }

  .nav-item-2 {
    border-right-color: #777777;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
  }

  .nav-item-3 {
    float: right;
    padding-left: 10px;
  }

  #project1 {
    width: 400px;
  }

  .navbar-brand {
    background-color: white;
  }

   */